.row
  .col-md-8
    %h1.page-header
      Kinder
      %small
        = @children.count
  .col-md-4
    %br
    %br
    .btn-group
      = link_to 'Neues Kind', new_child_path, class: "btn btn-primary"
      = link_to "Nummern neu vergeben", children_identify_new_path, class: "btn btn-info"


%table.table.table-bordered.table-condensed.table-hover
  %thead
    %tr
      %th
        = t('children.number')
      %th
        = t('overview.first_name')
      %th
        = t('overview.surname')
      %th
        = t('overview.birthday')
      %th
        = t('children.age')
      %th
        = t('overview.tent')
      %th

  %tbody
    - @children.each do |child|
      %tr
        %td= child.number
        %td= link_to child.first_name, child
        %td= link_to child.last_name, child
        %td= child.birthday.strftime "%d.%m.%Y"
        %td= child.age  
        %td
          - if child.tent
            = link_to "Zelt #{child.tent.number}", child.tent
        %td{width: '70px;'}
          .btn-group
            = link_to edit_child_path(child), class: "btn btn-default btn-xs" do
              %span.glyphicon.glyphicon-edit
            = link_to child, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: "btn btn-danger btn-xs" do
              %span.glyphicon.glyphicon-trash

