.row
  .col-md-10
    .page-header
      %h1
        = t('pages.closing.m_closing')
        %small= session[:date]

.well.col-md-12
  .col-md-2
    %h4
      =t('booking.date_balance')
    %h4
      = number_to_currency @m_account_date_balance 
  .col-md-2
    = form_for :main_bookkeeping, url: m_update_accounting_no_path, method: :post do |f|
      .form-group 
        %h4 
          = t('pages.closing.accounting_no')
        .col-md-8
          = f.number_field :accounting_no, class: 'form-control count-input', value: session[:m_acct_accounting_no]
        .col-md-1
          = button_tag(type: "submit", class: "btn btn-primary") do
            %span.glyphicon.glyphicon-arrow-right  
  .col-md-2
    %h4
      =t('pages.closing.current_sum')
    %h4
      = number_to_currency @m_account_current_balance     
  .col-md-2    
    %h4
      = t('pages.disbursement.title')
    %h4
      = number_to_currency @m_account_date_disbursement      
  .col-md-2
    - if (@m_account_date_disbursement != 0)
      %h4
        = t('pages.closing.drawback')
      %h4
        = number_to_currency @m_account_current_drawback
  .col-md-2
    %button.btn.btn-primary{:onclick => "alert('Prost!'); return false;"}
      %span.glyphicon.glyphicon-ok{"aria-hidden" => "true"}
      = t('pages.closing.drawback_fits')
      -# BUTTON: setzt Disbursement auf cleared
    %br
    %br
    .btn-group
      = link_to "Rückgeld erhalten", main_bookkeeping_clear_disbursement_path, class: "btn btn-info"

.well.col-md-12
  .col-md-3
    %h4
      = t('booking.balance_sum')
    %h4
      = number_to_currency @m_c_account_sum  
  .col-md-3
    %h4
      = t('booking.child_account_balance')
    %h4
      = number_to_currency @c_account_balance
  .col-md-3
    %h4
      = t('booking.main_account_balance')
    %h4
      = number_to_currency @m_account_balance
  .col-md-3
    %button.btn.btn-primary{:onclick => "alert('Prost!'); return false;"}
      %span.glyphicon.glyphicon-ok{"aria-hidden" => "true"}
      = t('pages.closing.balance_fits')
      -# BUTTON: Erstellt automatisch Export "Sicherung_Lagerkasse_Datum"
    %br
    %br
    .btn-group
      = link_to "Export", main_bookkeeping_export_path, class: "btn btn-info" 
      
.col-md-12
  = render 'main_bookkeeping/count'
